<div style='border: 3px solid blue'>

     <form action="/result">          

          This game is called Fizzbuzz, it will print 'Fizzbuzz' if the number is divisible by 15,<br> Buzz if divisible by 5 and Fizz if divisible by 3.<br>

          Please enter the first number in the range.<input type="text" name="num1"><br>
          Please enter the second number in the range.<input type="text" name="num2"><br>
          <input type="submit">
        </form>
    </div>