<div style='border: 3px solid blue'>
    This is the results page: <br>

    <% @fizzbuzz.result.each do |string| %>    
          	 <%= string %>
      	<% end %>





        <!--  <% [1,2,3].each do |num| %>
          	Number: <%= num %>
      	<% end %>

         <% [1,2,3].each do |num| %>
          	<p style="color:red">
          		<%= num %>
          	</p>
      	<% end %>
 -->
      	<!-- NB. Use %= to puts ruby values into the html. Use % on its own to run code and not print out the result. -->

</div>